@font-face {
    font-family: 'manu';
    src: url('../fonts/mns_trial-webfont.woff2') format('woff2'),
         url('../fonts/mns_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}