body {
    font-family: $font-default;
}


h1,
h2,
h4 {
    font-family: $font-undertitle;


}

h3 {
    font-size: 3rem;
    margin-top: -70px;
    
}

h4 {
    color: $white;
    font-size: 1.875rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
    

h1 {
    font-size: 3.75rem;
    color: $white;


    @media (min-width: $bp-medium) {
        font-size: 5rem;

    }

    @media (min-width: $bp-large) {


        padding-top: 100px;
        font-size: 6rem;
    }
}

.title-section {
    text-align: center;
    display: block;
    padding-top: 40px;
}


h2 {
    color: rgba(199, 196, 196, 0.678);
    font-size: 6rem;
    margin-bottom: 0;


}

.destinations h3,
    {
    color: $blue;
}

.activites .title-section {
    padding: 40px 0;
}

.activites h3 {
    color: $yellow;

}

.partage h3,
.endirect h3 {
    color: $red;

}