

// Layout
$max-width: 1200px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xl: 1920px;
$marge: 15px;

// Typos
$font-default: 'Arial', sans-serif;
$font-title: 'Raleway', sans-serif, $font-default;
$font-undertitle: 'manu';


//Colors
$yellow:         #F6C82D;
$bg-endirect:    #E7E7E7;
$blue:           #27797D;
$red:            #CD1422;
$white:          #fff; 
$dark-gray:      #333939;
$light-gray:     #747474;

